    <div>
	<p>
		Bienvenue, Erika ! You have 5 BeeBucks. (<a href="profile.html">Your profile</a>) (<a href="home.html">Back</a>)
	<p>
		<a href="">Buy 5 BeeBucks</a>
	</p>
	<p>
		<a href="">Buy 10 BeeBucks - Get 12!</a>
	</p>
	<p>
		<a href="">Buy 15 BeeBucks - Get 20!</a>
	</p>
	SHOPPING CART HERE
	<p><hr><a href="aboutus.html">About us</a> - <a href="contactus.html">Contact us</a> - <a href="">BeeBuzz Blog</a></p>
    </div>