<div id="home">
	<%= image_tag "beebuzz__logo.png" %>
</div>
<div class="container">
		<p><h2>Beebuzz <a href="wireframe/register.html">Wireframe</a></h2></p>
		<hr><a href="aboutus.html">About us</a> - <a href="contactus.html">Contact us</a> - <a href="">BeeBuzz Blog</a>
	</div>