<div class="container">
	<div class="box sm">
		<%= image_tag "beebuzz__logo.png" %>
	
		<form action="main.html">
			Register or log in:
			<div>
				<label>Email :</label>
					<input type="text" name="name"><br>
			</div>
			<div>
				<label>Password :</label>
					<input type="password" name="name"><br>
			</div>
			<div>
				<input type="submit" value="Log in">
			</div>
		</form>
		<div>
			<%= link_to "Contact Us", contact_path %> - <%= link_to "About Us", about_path %> - <%= link_to "BeeBuzz Blog", "http://beebuzzblog.tumblr.com" %>
		</div>
	</div>
</div>