<div>
	<h6><%= link_to "Back to main menu", main_path %></h6></br>
	
	<h3>- Allez, mon T'choupi,</br>
	on va rentrer, maintenant. </br>
	Tu trembles de froid . . .</br>
	- Nooon, paaaapi, caaa vaaa !</h3>
	
	<img src="IMG_0009.jpg"></br>
	
	<h3>- C'mon, my T'choupi,</br>
	we're going home now. </br>
	You're so cold you're shivering . . .</br>
	- Nooo, Graaaandpaaa, I'mmmm oookkkk !</h3></br>
	
	<h6><%= link_to "Previous page", story2_path %></h6>
</div>