    <div>
		<p>
			<h6><a href="home.html">Back to main menu</a></h6></br>
				<h3>T'choupi se laisse glisser sur le toboggan . . . et plouf !</br>
				il atterrit dans les bras de papi.</br>
				- Youpi!</h3>
			<img src="IMG_0008.jpg"></br>
			<h3>T'choupi slides on the slide . . . and plouf !</br>
			he lands in Grandpa's arms.</br>
			- Woohoo!</h3></br>
			<h6><a href="story1.html">Previous page</a> - <a href="story3.html">Next page</a></h6>
		</p>
    </div>