<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to BeeBuzz</title>
	<!--<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">-->
  </head>
  <body>
    <div>
		<p>
			<h6><a href="home.html">Back to main menu</a></h6></br>
				<h3>T'choupi enfile ses brassards et hop ! il va dans l'eau.</br>
				- Papi, regarde comme je nage vite !</br>
				- Bravo ! Essaie sans la planche  maintenant . . .</h3>
			<img src="IMG_0005.jpg"></br>
			<h3>T'choupi puts on his buoys et jumps in the water!</br>
			- Grandpa, look how fast I can swim !</br>
			- Very nice ! Try without the plank now . . .</h3></br>
			<h6><a href="story2.html">Next page</a></h6>
		</p>
    </div>
  </body>
</html>