.topbar .fill {
	background: #FAF3D7;
}

#register .span6 {
	background: #FAF3D7;
	border: 1px solid #F7DD74;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: block;
	float: none;
	margin: 0 auto;
	padding: 6px 10px;
	text-shadow: 0 -1px 0 #fff;
	width: 318px;
}

#register input {
	width: 260px;
}

#register input.btn {
	width: auto;
}

#register img {
	display: block;
	margin: 8px auto;
	width: 243px;
}

.span5 {
	text-align: center;
}

.topbar h3 a, .topbar .brand {
	color: #1844F2;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.topbar a {
	color: #90A3F0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.html, body {
	background-color: #E3EFFA;
}

.container {
	padding-top: 40px;
}

#register .hr {
	border-bottom: 1px solid #F7DD74;
	width: 338px;
	margin-left: -10px;
}

body {
  padding-top: 50px; /* 50px to make the container go all the way to the bottom of the topbar */
}