// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	display: block;
	margin: 0px;
}

.row {
	content: "";
	display: block;
	display: table;
	
	margin: 0 auto;
	padding-bottom: 20px;
	zoom: 1;
}

.span {
	display: inline;
	float: left;
	width: 159px;
	width: 30%;
}

#background {
	background-color: #e3effa;
	/* background-image:url('../images/WinnieThePoohWallpaper1024.jpg'); */
	height: 100%;
	padding-top: 50px;
	position: absolute;
	width: 100%;
}

.container {
	background-color: #e3effa;
	height: 100%;
	padding-top: 50px;
	position: absolute;
	width: 100%;
}

.container_home {
	background-color: #e3effa;
	background-image:image-url("WinnieThePoohWallpaper1024.jpg");
	height: 100%;
	padding-top: 50px;
	position: absolute;
	width: 100%;
}

#box_sm {
	/* background-color: #fff; */
	background-color: rgba(255, 255, 255, 0.90);
	border:  2px solid #F7DD74;
	border-radius: 10px;
	font-family: 'Gloria Hallelujah', cursive;
	height: auto;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 6px;
	text-align: center;
	width: 400px;
}

#box {
	/* background-color: #fff; */
	background-color: rgba(255, 255, 255, 0.75);
	border:  2px solid #F7DD74;
	border-radius: 10px;
	font-family: 'Gloria Hallelujah', cursive;
	height: auto;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 6px;
	text-align: center;
	width: 960px;
}

hr {
	border-bottom: 1px solid #F7DD74;
	width: 491px;
	/*margin-left: -10px;*/
	clear: both;
	margin-left:-6px;
	margin-top: 6px;
	margin-bottom: 6px;
}
	
h1, h2, h3, h4, h5, h6 {
	font-family: 'Gloria Hallelujah', "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
	font-weight: normal;
}