// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #e3effa;
	display: block;
	margin: 0px;
	height: 100%;
}

.row {
	content: "";
	display: table;
	margin: 0 auto;
	padding-bottom: 20px;
	zoom: 1;
}

.column {
	background-color: rgba(255, 255, 255, 0.80);
	border: 2px solid #F7DD74;
	border-radius: 10px;
	display: inline;
	float: left;
	height: auto;
	margin: 5px;
	padding: 6px;
	text-align: center;	
	width: 300px;
}

.container {
	background-color: #e3effa;
	font-family: 'Gloria Hallelujah', cursive;
	/*height: 100%;*/
	padding-top: 10px;
	position: absolute;
	width: 100%;
}

#home .container {
	background-image:image-url("WinnieThePoohWallpaper1024.jpg");
	padding-top: 50px;
}

.box {
	/* background-color: #fff; */
	background-color: rgba(255, 255, 255, 0.75);
	border:  2px solid #F7DD74;
	border-radius: 10px;
	font-family: 'Gloria Hallelujah', cursive;
	height: auto;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 6px;
	text-align: center;
	width: 960px;
}

.box.sm {
	background-color: rgba(255, 255, 255, 0.90);
	width: 400px;
}

.block {
	background-color: #F7DD74;
	border:  2px solid #b9a557;
	border-radius: 10px;
	display: block;
	margin: 6px;
	padding: 3px;
}

.book-nav {
	padding: 0 10px;
}

.book-nav .previous {
	float: left;
}
.book-nav .next {
	float: right;
}