// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background {
	background-color: #e3effa;
	/* background-image:url('../images/WinnieThePoohWallpaper1024.jpg'); */
	height: 100%;
	padding-top: 50px;
	position: absolute;
	width: 100%;
}

#content {
	/* background-color: #fff; */
	background-color: rgba(255, 255, 255, 0.75);
	border:  1px solid #F7DD74;
	border-radius: 10px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	width: 690px;
}